    h1 {
      display: flex;
      justify-content: center;
    }

    body {
    font-family: Arial;
    font-size: 20px;
    margin: 0;
  }
  

  button {
    background-color: darkseagreen;
    margin: 10px 0px 10px 600px;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .input {
    margin-left: 600px;
  }

  .timer-count {
   float: right;
   margin-bottom: 600px;
  }